<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.vagabond.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.vagabond.rcp.Perspective"
            id="VagabondRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Database"
            class="org.vagabond.rcp.views.DBView"
            id="VagabondRCP.dbview">
      </view>
      <view
            class="org.vagabond.rcp.views.ExplView"
            id="VagabondRCP.explview"
            name="Explanations"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.views.MapView"
            id="VagabondRCP.mapview"
            name="Mappings"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="VagabondRCP.dbview"
               minimized="false"
               moveable="true"
               ratio="0.65f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="VagabondRCP.explview"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="VagabondRCP.view"
               standalone="false">
         </view>
         <view
               id="VagabondRCP.mapview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="VagabondRCP.explview"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="VagabondRCP.application"
            name="Vagabond">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
