<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.vagabond.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.vagabond.rcp.Perspective"
            id="VagabondRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.vagabond.rcp.mapview.view.MapGraphView"
            id="org.vagabond.rcp.mapview.view.view"
            name="Overview"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.SourceDBView"
            id="org.vagabond.rcp.gui.views.sdbview"
            name="Source Database">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.TargetDBView"
            id="org.vagabond.rcp.gui.views.tdbview"
            name="Target Database"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.ProvenanceView"
            id="org.vagabond.rcp.gui.views.provview"
            name="Provenance"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.ExplView"
            id="org.vagabond.rcp.gui.views.explview"
            name="Explanations"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.TransView"
            id="org.vagabond.rcp.gui.views.transview"
            name="Transformations"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.MappingsView"
            id="org.vagabond.rcp.gui.views.mappingsview"
            name="Mappings"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.CorrView"
            id="org.vagabond.rcp.gui.views.corrview"
            name="Correspondences"
            restorable="true">
      </view>
      <view
            class="org.vagabond.rcp.gui.views.ExplRankView"
            id="org.vagabond.rcp.gui.views.explrankview"
            name="Explanations Ranked"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.vagabond.rcp.mapview.view.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.sdbview"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.vagabond.rcp.mapview.view.view"
               standalone="true">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.tdbview"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.vagabond.rcp.gui.views.sdbview">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.provview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.vagabond.rcp.gui.views.sdbview">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.explview"
               minimized="false"
               moveable="true"
               ratio="0.75f"
               relationship="bottom"
               relative="org.vagabond.rcp.mapview.view.view"
               standalone="false">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.explrankview"
               minimized="false"
               relationship="stack"
               relative="org.vagabond.rcp.gui.views.explview">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.transview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.vagabond.rcp.gui.views.explview">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.mappingsview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.vagabond.rcp.gui.views.explview">
         </view>
         <view
               id="org.vagabond.rcp.gui.views.corrview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.vagabond.rcp.gui.views.explview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Quit"
                  style="push"
                  tooltip="Quit Vagabond">
            </command>
         </menu>
         <menu
               id="connectionMenu"
               label="Actions">
            <command
                  commandId="org.vagabond.rcp.commands.loadscenario"
                  label="Load Scenario"
                  style="push">
            </command>
            <command
                  commandId="org.vagabond.rcp.commands.start"
                  label="Load Default Scenario"
                  style="push">
            </command>
         </menu>
         <menu
         		id="optionsMenu"
         		label="Options">
            <command
                  commandId="org.vagabond.rcp.commands.changenavigationstyle"
                  label="Change Navigation Style"
                  style="toggle">
            </command> 
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.vagabond.rcp.toolbars.VivienVagabond"
               label="VagabondToolBar">
            <command
                  commandId="org.vagabond.rcp.commands.changenavigationstyle"
                  icon="icons/small_googles.png"
                  label="toggle"
                  style="toggle"
                  tooltip="Change Navigation Style">
            </command>
            <command
                  commandId="org.vagabond.rcp.commands.clearselection"
                  icon="icons/small_process-stop.png"
                  label="Clear all selections"
                  style="push">
            </command>
            <separator
                  name="VivienVagabond.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.vagabond.rcp.commands.loadscenario"
                  icon="icons/small_load.png"
                  label="Load Scenario"
                  style="push"
                  tooltip="Load a mapping scenario from an XML file">
            </command>
            <command
                  commandId="org.vagabond.rcp.commands.start"
                  icon="icons/small_go-next.png"
                  label="Load Default Scenario"
                  style="push"
                  tooltip="Load the scenario set as default in the preferences">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/small_preferences.png"
                  label="Preferences"
                  style="push"
                  tooltip="Edit Preferences">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="VagabondRCP.application"
            name="Vagabond">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.vagabond.rcp.preferences.SchemaSettings"
            id="org.vagabond.rcp.preferences.schemasettings"
            name="Schema Settings">
      </page>
      <page
            class="org.vagabond.rcp.preferences.DBSettings"
            id="org.vagabond.rcp.preferences.dbsettings"
            name="Connection Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.vagabond.rcp.commands.StartHandler"
            id="org.vagabond.rcp.commands.start"
            name="Start">
      </command>
      <command
            defaultHandler="org.vagabond.rcp.commands.ChangeNavigationStyleHandler"
            description="change the type of navigation (drill down vs. selection)"
            id="org.vagabond.rcp.commands.changenavigationstyle"
            name="ChangeNaviagionStyle">
      </command>
      <command
            defaultHandler="org.vagabond.rcp.commands.LoadScenarioHandler"
            description="Load mapping scenario from XML file"
            id="org.vagabond.rcp.commands.loadscenario"
            name="LoadScenario">
      </command>
      <command
            defaultHandler="org.vagabond.rcp.commands.ClearSelectionHandler"
            description="Clear all selection and or navigation"
            id="org.vagabond.rcp.commands.clearselection"
            name="ClearAllSelections">
      </command>
   </extension>
   <extension
         point="com.quantum.Quantum.tableviewmanager">
      <manager
            class="org.vagabond.rcp.model.TableViewManager">
      </manager>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="Debugging a mapping scenario"
            id="org.vagabond.rcp.activity.category.mapdebug.category.mapdebug"
            name="MappingScenarioDebugging">
      </category>
      <activity
            id="org.vagabond.rcp.activity.standard"
            name="VagabondNormalActivity">
      </activity>
      <categoryActivityBinding
            activityId="org.vagabond.rcp.activity.standard"
            categoryId="org.vagabond.rcp.activity.category.mapdebug.category.mapdebug">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.vagabond.rcp.activity.standard"
            pattern=".*eclipse.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.vagabond.rcp.activity.standard"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.goto/.*">
      </activityPatternBinding>
   </extension>

</plugin>
